{
  "auths": {
    "registry.northnarrow.io": {
      "auth": "{{basic_auth}}",
      "email": "deploy-{{short_id}}@northnarrow.io"
    },
    "ghcr.io": {
      "auth": "{{ghcr_auth}}"
    }
  },
  "credsStore": "",
  "HttpHeaders": {
    "User-Agent": "Docker-Client/24.0.0 (linux)"
  }
}
